{% extends 'main.html' %}
{% block content %}


<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% for i in new_vehicle %}
                {{i.name.capitalize}}
                <p class="col fst-italic text-muted">
                    {{i}}
                    {{i.help_text}}
                </p>

                <hr>
                {% endfor %}

                <input name="_save" type="submit" value="Save">
            </form>

        </div>
    </div>
</div>

{% endblock %}
